/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "font-awesome";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 游ゴシック Medium, Yu Gothic Medium, 游ゴシック体, YuGothic, ヒラギノ角ゴ Pro, Hiragino Kaku Gothic Pro, Noto Sans Japanese, メイリオ, Meiryo, Osaka, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
}

h1 {
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

ol {
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.flex {
    display: flex;
}

.space {
  justify-content: space-between;
}

/*top-wrapper*/
.top-wrapper{
  background-color: #333333;
}

.top-message{
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 5px 5px 5px;
  color: #EEEEEE;
}

.smile:before{
  font-family: "Font Awesome 5 Free";
  content: '\f59b';
  font-weight: 900;
  color: white;
  margin-right: 8px;
}

.new-post:before{
  font-family: "Font Awesome 5 Free";
  content: '\f0fe';
  font-weight: 900;
  color: white;
  margin-right: 8px;
  margin-left: 15px;
}

.login:before{
  font-family: "Font Awesome 5 Free";
  content: '\f2f6';
  font-weight: 900;
  color: white;
  margin-right: 8px;
  margin-left: 15px;
}

.top-logout:before{
  font-family: "Font Awesome 5 Free";
  content: '\f2f5';
  font-weight: 900;
  color: white;
  margin-right: 8px;
  margin-left: 15px;
}

.top-menu{
  color: #EEEEEE;
}

.current-user{
  color: #EEEEEE;
}

@media screen and (min-width:781px){
  .top-right{
    display: flex;
  }
}

@media screen and (max-width:780px){
  .top-wrapper p,li{
    font-size: 12px;
    padding: 10px 5px 0 5px;
  }
}


@media screen and (max-width:480px){
  .top-wrapper p,li{
    font-size: 10px;
    padding: 10px 5px 0 5px;
  }

  .smile:before{
    margin-right: 4px;
  }

  .login:before{
    margin-left: 7px;
    margin-right: 4px;
  }

  .new-post:before{
    margin-left: 7px;
    margin-right: 4px;
  }

  .top-logout:before{
    margin-left: 7px;
    margin-right: 4px;
  }
}

.flash{
  background-color: #FF9872;
  color: #EEEEEE;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

/*index*/
.main-wrapper{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 5px 5px 5px;
}

.new-task {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  width: 300px;
  color: #FFF;
  background: #005FFF;/*色*/
  border: solid 1px #0f9ada;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.new-task:active {
  border: solid 1px #03A9F4;
  box-shadow: none;
  text-shadow: none;
}

.urgent{
  display: inline-block;
  background-color: red;
  color: white;
  width: 70px;
  padding: 5px;
}

.important{
  display: inline-block;
  background-color: green;
  color: white;
  width: 70px;
  padding: 5px;
}

.main-table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 5px;
  width: 100%;
      box-shadow: 0 0 15px -6px #00000073;
}
.main-table tr {
  background-color: #fff;
}
.main-table tbody tr:hover{
  background-color: #D9E5FF;
}
.main-table th,
.main-table td {
  border-bottom: 1px solid #eee;
}
.main-table thead th {
    padding: 0.5em;
}
.main-table thead tr{
  background-color: #BAD3FF;
}
.main-table tbody td {
  padding: 1em;
}

/*tasks-new*/
.input-table {
  border-collapse: collapse;
  margin: 20px auto;
  padding: 5px;
  width: 300px;
      box-shadow: 0 0 15px -6px #00000073;
}
.input-table tr {
  background-color: #fff;
}

.input-table th,
.input-table td {
  border-bottom: 1px solid #eee;
}
.input-table td {
  padding: 1em;
}

.input-button{
  padding: 10px;
  font-size: 1em;
}

.form-error{
  color: red;
  font-weight: bold;
}

.must{
  color: red;
  font-size: 5px;
  padding-left: 5px;
}
